/* color hunt colors: #b0cac7, #f7d6bf, #318fb5, #005086  */


body {
    color: #40514E;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    color: #318fb5;
    font-weight: normal;
    padding-bottom: 10px;
}

p {
    margin: 0;
    line-height: 2;
    width: 100%;
    margin: auto;
}

.top-container {
    background-color: #f7d6bf;
    padding-bottom: 10px;
}

.middle-container {
    margin: 10px 0;
    display: block;
}

.bottom-container {
    padding-bottom: 10px;
    background-color: #b0cac7;
}

.intro {
    width: 100%;
    margin: auto;
}

.skill-one {
    width: 100%;
}

.skill-two {
    width: 100%;
    border: none;
}

.skill-three {
    width: 100%;
}

.skill-image {
    width: 100%;
    margin-top:  10px;
}
